html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

svg.nav {
	background-color: #b5e3fb;
	padding: 15px;
	border-color: #111;
	width: 100%;
	margin-bottom: 30px;
	outline-width: 3px;
	outline-style: dashed;
	outline-color: #000;
}

svg g {
	fill: #ffff84;
	stroke: #111;
	stroke-width: 0.6;
}

svg g:hover {
	fill: #FFA500;
	transition: 0.1s;
	cursor: pointer;
}

svg g.active {
	fill: #FFA500;
}

nav.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	margin-bottom: 30px;
}

body {
	position: relative;
	padding-top: 120px;
	padding-bottom: 48px;
	min-height: 100vh;
	margin: 0;
}

body::after {
	content: '';
	display: block;
	height: 164px;
}

.translucent {
	opacity: 0.9875;
}

footer {
	width: 100%;
	position: absolute;
 	bottom: 0;
}

a.secret {
	color: #fff;
}

a.secret.ninja {
	color: inherit;
	text-decoration: inherit;
}

a.secret:hover {
	cursor: default;
}

a.secret.ninja:hover {
	cursor: inherit;
	color: #fff;
	font-size: 80px;
}

.masthead {
	background: rgba(0,0,0,0.4) url('/assets/images/home-banner.jpg');
	background-repeat: no-repeat;
	margin-top: -25px;
	margin-bottom: 100px;
	background-size: cover;
	background-blend-mode: darken;
}

.site-heading {
	margin-top: 200px;
	margin-bottom: 200px;
	text-align: center;
}

.site-heading h1 {
	font-size: calc(3.25rem + 0.9vw);
	color: #fff;
	font-family: "Georgia";
	opacity: 1;
}

input.text-only:read-only {
	background-color: #f7f7f9;
	cursor: default;
}

.hash-link::before {
	display: block;
	content: " ";
	margin-top: -100px;
	height: 100px;
	visibility: hidden;
	pointer-events: none;
}








