// my custom scss

$bg: #282828;
$light-black: #928374;
$red: #cc241d;
$light-red: #fb4934;
$green: #98971a;
$light-green: #b8bb26;
$yellow: #d79921;
$light-yellow: #fabd2f;
$blue: #458588;
$light-blue: #83a598;
$purple: #b16286;
$light-purple: #d3869b;
$aqua: #689d6a;
$light-aqua: #8ec07c;
$gray: #a89984;
$fg: #ebdbb2;

$bg0_h: #1d2021;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$primary: $blue;
$secondary: $purple;
$success: $green;
$info: $aqua;
$warning: $yellow;
$danger: $red;
$white: $fg;
$light: $fg;
$dark: $bg;
$black: $bg0_h;

$body-color-dark: $fg;
$body-bg-dark: $bg;

$border-color: $fg;
$border-width: 3px;

$border-radius: 10px;

$font-family-sans-serif: // Cross-platform generic font family (default user interface font)
	monospace,
	// Safari for macOS and iOS (San Francisco)
	-apple-system,
	// Windows
	"Segoe UI",
	// Android
	Roboto,
	// Basic web fallback
	"Helvetica Neue", Arial,
	// Linux
	"Noto Sans",
	"Liberation Sans",
	// Sans serif fallback
	sans-serif,
	// Emoji fonts
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
	
@import '../node_modules/bootstrap/scss/bootstrap';


a {
	color: $secondary;
	text-decoration: none;

	&:hover {
		background-color: $secondary;
		color: $light;
	}
}

